# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Color Hole 3D.iml
# Editor-based HTTP Client requests
/httpRequests/
